development: &development
  adapter: postgresql
  encoding: unicode
  database: teamzu_development
  username: postgres
  pool: 5
    
test: &test
  <<: *development
  database: teamzu_test

cucumber:
  <<: *test

staging:
  adapter: postgresql
  encoding: unicode
  database: teamzu_staging
  pool: 5
  username: austin_schneider

production:
  adapter: postgresql
  encoding: unicode
  database: teamzu_production
  pool: 5
  username: austin_schneider
